/* CSS specific to NM Water App */
#map {
    height: 650px;
    width: 600px;
}

#app-ui {
    display: flex;
}

#app-ui div {
    min-width: 600px;
}

#querytxt {
    padding: 5px;
    border: 2px solid black;
}