/*CSS adapted from template */
body{
    line-height:1; 
    font-family: arial;
}


blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* --------- Main Sections -------- */
body,html {
	background-color: #FFF;
}

header {
    background: #AEC6CF;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 75px;
    color: #FFF;
}

#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

nav {
    display: inline-block;
}

nav ul{
    list-style:none
}

nav ul li a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
}
nav ul li a:hover {
	background: #FFF;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}

.content {
    max-width: 1200px;
    margin: auto;
}

section {
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

footer {
	background: #AEC6CF;
	margin: auto;
	clear: both;
	text-align: right;
}
footer p {
	padding: 20px;
}
address {
    padding: 10px 20px 30px 10px;
}

/* --------  Subsections  --------- */

article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}



/* ------- Mobile ------- */
@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}
