<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static',path='/img/logo_sm.png') }}" />
    <title>NMWDI Sensor Things Demo</title>
    <link rel="stylesheet" href="{{ url_for('static',path='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',path='/css/nmwater.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
</head>
<body>
    <header>
        <div class="content">
            <div id="logo">
                <a href="https://crceanalytics.com"><img src="{{ url_for('static',path='/img/LogoBlack.png') }}">CRC Earth Analytics</a>
            </div>
            <nav>  
                <ul>
                    <li><a>Blog</a></li>
                    <li><a href="https://github.com/chrisrycx/EnviroData_API">Github</a></li>
                    <li><a>CRC Earth Analytics Apps</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <section>
            <h1>SensorThings Demo App: NM Water Data</h1>
            <h3>Collaborative Groundwater Monitoring Network</h3>
            <p>
                Historical groundwater measurements across the state from a variety
                of sources including:
                <ul>
                    <li>NM Bureau of Geology and Mining Resources</li>
                    <li>Pecos Valley Artesian Conservancy District</li>
                    <li>City of Albuquerque</li>
                </ul>
                Earliest records date to 1915.
            </p>
            <p>NM Water Data Catalog: https://catalog.newmexicowaterdata.org/dataset/collaborative-groundwater-monitoring-network</p>
            <p>API Endpoint: https://st2.newmexicowaterdata.org/FROST-Server/v1.1/</p>
        </section>
        <div id="app-ui">
            <div class="map-section">
                <h3>Well Locations</h3>
                <form id="wellyear_form">
                    <label for="wellyear">Select a year (1915-Present)</label>
                    <input type="number" id="wellyear" name="wellyear" min="1900" max="2022" value="2022">
                    <input type="submit" value="Load">
                </form>
                <h4>SensorThings Query:</h4>
                <p id="mapquery"></p>
                <div id="map"></div>
            </div>
            <div id="chart-section">
                <h3>Groundwater History</h3>
                <div id="wellchart" class="datachart"></div>
                <h4>SensorThings Query:</h4>
                <p id="chartquery"></p>
                <h3>Well Information</h3>
                <table>
                    <tbody>
                        <tr><td>Well Use:</td><td id="welluse"></td></tr>
                        <tr><td>Depth:</td><td id="welldepth"></td></tr>
                        <tr><td>Status:</td><td id="wellstatus"></td></tr>
                        <tr><td>Agency:</td><td id="wellagency"></td></tr>
                    </tbody>
                </table>
                <h4>SensorThings Query:</h4>
                <p id="metaquery"></p>
            </div>
        </div>
        </main>
    </div>
	<footer>
		<p><a href="https://crceanalytics.com">&copy; CRC Earth Analytics</a></p>
	</footer>
    <script src="{{ url_for('static',path='/js/waterapp.js') }}"></script>
    <script src="{{ url_for('static',path='/js/map.js') }}"></script>
</body>

</html>